body {
  margin: 0 auto;
  max-width: 1440px;
  display: block;
  margin-top: 100px;
  box-sizing: border-box;
  background-color: var(--black);
}

:root {
  --black: rgb(0, 0, 0);
  --purple: #6c63ff;
  --light-grey: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --secondary-color: #1ab2a3;
}

h2 {
  font-size: 48px;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  color: var(--secondary-color);
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
